*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  font-family: sans-serif;
  text-decoration: none ;

}

.section{
  width: 1200px;
  display: flex;


  .Custom-text{
    width: 50%;
    height: 100%;

    h1{
      font-size: 3rem;
    }

    p{
      color: grey;
      font-size: 1.5rem;
      margin-top: 2rem;
    }

    .Balls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      .name{
        img{
         margin-top: 0.6rem;
         width: 10rem;
        }
      }

      .switch{
        display: flex;
        align-items: center;

        .left-switch{
          margin-right: 2rem;
          a{
            color: black;
            padding: 1.5rem;
            border: 1px solid black;
            background-color: white;
            border-radius: 100%;
          }
        }

        .right-switch{
          margin-right: 2rem;
          a{
            color: white;
            padding: 1.5rem;
            background-color: #088F5E;
            border-radius: 100%;
          }
        }
      }

    }


  }

  .Custom-photo{
    width: 50%;

    img{
      width: 100%;
    }
  }

}