*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  font-family: sans-serif;
  text-decoration: none ;

}

.section2{

  margin: 0 auto;
  padding: 2rem 0;
  width: 1200px;

  .box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;

    .box{
      margin-right: 6rem;
      .img{
        img{
          width: 3rem;
        }
      }

      p{
        margin-top: 2rem;
        font-size: 1.3rem;
      }

      a{
        color: black;
        margin-top: 1rem;
        line-height: 2;
        font-size: 1.2rem;
      };

      .social{
        width: 10rem;
        img{
          width: 100%;
        }
      }

    }

  }

}