.home{
  width: 100%;

  .Navbar{
    margin: 2rem 3rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .links{
      ul{
         display: flex;

        li{
          margin-left: 1rem;
          font-size: 1.5rem;
        }
      }

    }

    .logo{
      img{
        width: 3rem;
      }

    }

    .settings{
      display: flex;

      .stuff{
        height: 3rem;
        display: flex;

        img{
          margin-right: 1rem;
          width: 100%;
        }

      }

      .Register-btn{
        background-color: #088F5E;
        color: white;
        padding: 0.5rem 1rem;
      }

    }
  }

  .homepage{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #F3FBF8;

    .Main{
      text-align: center;
      margin: 0;
      margin-top: 6rem;

      .leaves{
        position: absolute;
        top: 0;
        left: 2rem ;
        img{
          width: 35rem;
        }
      }
      h1{
        font-size: 3.5rem;
      }

      p{
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
        width: 45%;
        font-size: 1rem;
      }


      .Order{
        margin-top: 4rem;
        font-size: 1.2rem;

        .Order-btn{
          background-color: #088F5E;
          color: white;
          border-radius: 20rem;
          padding: 1rem;
          margin-left: 1rem;

        }
      }

      .Fruit{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        .fruit-img{
          img{
            width: 35rem;
          }
        }

        .Stats{
          margin-left: 5rem;


          .stat-box:nth-child(1){
            margin-top: 0;
          }

          .stat-box{

            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 0.3rem 2rem;
            margin-top: 1rem;


            .icons{
              img{
                width: 4rem;
              }
            }

            .info{
              margin-left: 2rem;
              text-align: center;

              p{
                display: flex;
                margin: 0;
                font-size: 24px;

                span{
                  margin-left: 0.5rem;
                }
              }



            }
          }

        }

      }


    }

  }

}